.App {
  display: flex;
  flex-direction: column;
  position: absolute;

  height: 100%;
  width: 100%;

  overflow: hidden;
  background: #EDEDF9;

  > header {
    display: flex;
    flex: none;
    align-items: center;

    height: 8rem;
    width: 100%;

    padding: 0 2rem;

    background-color: #00004E;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);

    > h1 {
      color: #FFF;
    }
  }

  > section {
    overflow: auto;
  }
}

.App-content {
  margin: 2rem;
}