.c-post-like {
  padding: 0;

  > .btn {
    height: 2rem;
    width: 2rem;

    border-radius: 50%;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '❤️';

      transform: translate(calc(-50% - 2px), -50%);
    }
  }
}